@use "../../app/styles/variables" as *;

.empty {
  h2 {
    font-size: 30px;
    font-weight: 700;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px; /* 👈 Расстояние между карточками (можно поставить 24px или 32px) */
  width: 100%;
}