@use "../../app/styles/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  width: 100%;
  height: 90px;

  &_links {
    display: flex;
    gap: 32px;
  }

  &_link {
    display: flex;
    align-items: center;
    gap: 1px;
    position: relative;
    height: 91px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5px;
      background-color: $color-mint-green;
      transform: scaleX(0);
    }
  }

  &_link_text {
    color: $color-text-dark;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }

  &_button {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &_button_text1,
  &_button_text2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }

  &_button_text1 {
    color: $color-text-dark;
  }

  &_button_text2 {
    color: $color-text-light;
  }

  &_button_decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 48px;
    background-color: $color-blackish-green;
    border-radius: 8px;
  }
}

.active {
  &::after {
    transform: scaleX(1);
  }
}

.transparent {
  margin-top: 30px;
  background-color: transparent;
  position: absolute;
  z-index: 100;

  .header {
    &_link_text {
      color: $color-text-light;
    }

    &_button_text1 {
      color: $color-text-light;
    }

    &_button_text2 {
      color: $color-text-dark;
    }

    &_button_decoration {
      background-color: $color-base;
    }

    &_links svg {
      fill: $color-base;
    }

    &_logo {
      --color1: #ffffff;
    }
  }
}
