@use "../../../app/styles/_variables" as *;

.amenities {
  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &_header__title {
    font-size: 16px;
    font-weight: 600;
  }

  &_header__btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
  }


  &_header__icon {
    rotate: 180deg;
  }

&_info__block {
  display: flex;
  align-items: center;
  gap: 11px;
  margin-bottom: 8px;
}

&_info__span {
  font-size: 14px;
  font-weight: 500;
}

  &_btn {
    background-color: transparent;
    color: $color-pink;
    font-size: 14px;
    font-weight: 700;
  }
}