@use "../../app/styles/_variables" as *;

.sorting {
  &_results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
    font-size: 14px;
    font-weight: 600;

    span {
      color: $color-pink;
    }
  }

  &_selectWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.hotelCard_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.hotelCard {
  display: flex;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  overflow: hidden;
  background-color: $color-base;

  &_imageWrapper {
    width: 300px;
    height: auto;
    flex-shrink: 0;
  }

  &_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  &_content {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
  }


  &_mainRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
  }

  &_title {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    max-width: 65%;
    color: #121212;
  }

  &_priceBlock {
    text-align: right;
  }

  &_priceLabel {
    display: flex;
    align-items: start;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    opacity: 0.6;
  }

  &_priceValue {
    font-size: 24px;
    font-weight: 700;
    color: $color-pink;
    display: block;
    margin: 4px 0;
  }

  &_priceTax {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    opacity: 0.6;
  }

  &_locationRow {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
  }

  &_locationIcon {
    opacity: 0.7;
  }

  &_locationText {
    font-size: 12px;
    font-weight: 500;
    color: $color-blackish-green;
  }

  &_infoRow {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 12px;

    &__stars {
      display: flex;
      align-items: center;
    }

    &__span {
      padding-left: 4px;
      font-size: 12px;
      font-weight: 500;
    }

    &__aminities {
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  &_ratingRow {
    display: flex;
    align-items: center;
    gap: 4px;

    &__span__castom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 32px;
      border: 1px solid $color-mint-green;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 500;
    }

    &__span {
      font-size: 15px;
      font-weight: 500;
    }
  }

  &_hr {
    margin: 24px 0;
    border: none;
    width: 100%;
    height: 0.5px;
    background-color: $color-blackish-green;
  }

  &_buttonRow {
    display: flex;
    align-items: center;
    gap: 16px;

    &__heart {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border: 1px solid $color-mint-green;
      border-radius: 4px;
      background-color: transparent;
    }

    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 428px;
      height: 48px;
      background-color: $color-mint-green;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 600;
    }
  }
}