$color-base: #fff; // Белый цвет для основного фона
$color-mint-green: #8dd3bb; // Мятно-зеленый цвет для акцентов и кнопок
$color-blackish-green: #112211; // Темно-зеленый цвет для кнопок
$color-text-dark: #000000; // Черный цвет для текста
$color-text-light: #ffffff; // Белый цвет для текста
