@use "../../app/styles/variables" as *;

.sorting {
  &_results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px auto;
    font-size: 14px;
    font-weight: 600;

    span {
      color: $color-pink;
    }
  }

  &_selectWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.hotelCard_container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}